#item-spot1 {
    top: 31%;
    left: 31%;
}

#item-spot2 {
    top: 19.3%;
    left: 66.4%;
}


#item-spot3 {
    top: 54%;
    left: 16.15%;
}

#item-spot4 {
    top: 30%;
    left: 28.7%;
}

#item-spot5 {
    top: 33.4%;
    left: 49.4%;
}

#item-spot6 {
    top: 19.5%;
    left: 63.7%;
}

#item-spot7 {
    top: 32.3%;
    left: 72%;
}

#item-spot8 {
    top: 59%;
    left: 81.65%;
}

#item-spot9 {
    top: 14.3%;
    left: 39.2%;
}

#item-spot10 {
    top: 36.3%;
    left: 93.15%;
}